.card {
    height: 28rem;
    cursor: pointer;
    position: relative;
    margin-bottom: var(--MarginM);
}

.cardImgContent {
    position: relative;
    width: 100%;
    height: 18rem;
    overflow: hidden;
}

.cardImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: all .3s;
}

.cardImg1 {
    opacity: 0;
}

.card:hover .cardImg1 {
    opacity: 1; 
}

.cardImgHover {
    opacity: 1;
}

.card:hover .cardImgHover {
    opacity: 0;
}


.cardSave {
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    padding: var(--MarginS);
    color: #EB565F;
    background-color: #FCEEEE;
    border-bottom-right-radius: var(--MarginS);
    z-index: 10;
}

.cardImgContainer {
    position: relative;
}

.cardPlus { 
    width: max-content;
    padding: var(--MarginS);
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    border-top-left-radius: var(--MarginS);
}

.cardHeart {
    transition: .3s;
}

.cardPlus:hover .cardHeart {
    color: red;
}


.cardHeartSelect {
    display: none;
    color: red;
}

.cardContent {
    display: flex;
    margin-top: var(--MarginS);
    flex-direction: column;
    gap: var(--MarginS);
}

.review {
    display: flex;
    align-items: center;
}

.review p {
    margin-left: var(--MarginS);
}

.cardName {
    font-size: 1.1rem;
    letter-spacing: .75px;
}

.cardPrices {
    display: flex;
    gap: var(--MarginS);
    font-size: 1.1rem;
}

.cardPrice {
    color: #EB565F;
    font-weight: 600;
}

.cardPreviousPrice {
    opacity: .5;
    text-decoration: line-through;
}