.cartItem {
    display: flex;
    margin-bottom: 1rem;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, .1);
    padding: 1rem;
    border-radius: 1rem;
}

.img {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.img img {
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.cartItemContain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 500;
    font-size: .9rem;
    margin-bottom: .15rem;
}

.salePrice {
    font-weight: 500;
    font-size: 1.2rem;
    color: rgba(27, 27, 214, 0.856);
    font-weight: 700;
}

.btns {
    display: flex;
    align-items: center;
}

.btnsQuantity {
    background-color: rgb(238, 237, 237);
    border-radius: .5rem;
    margin-right: 1rem;
}

.btn {
    color: black;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.7rem;
    height: 1.7rem;
    transition: .2s;
}

.btn:nth-of-type(1) {
    color: red;
}


.btn:nth-of-type(3) {
    color: blue;
}

.btnDel {
    /* border: 1px solid red;
    border-radius: .2rem; */
    width: 1.5rem;
    height: 1.5rem;
    transition: .2s;
}

/* .btnDel:hover {
    background-color: rgba(254, 195, 195, 0.717);
} */