.fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.names,
.address {
    display: flex;
}

.names input {
    flex-basis: 50%  ;
}

.names input:first-of-type {
    margin-right: var(--MarginS);
}


.address input:nth-of-type(1),
.address input:nth-of-type(2) {
    margin-right: var(--MarginS);
}

/* Btns */

.shippingBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.btnShipping {
    margin-top: 0;
}

.shoppingCart {
    display: flex;
    align-items: center;
}

.arrow {
    transform: rotate(180deg);
}

.paymentsImgs {
    display: flex;
    justify-content: flex-start;
    margin-top: var(--MarginM);
    width: 100%;
    max-width: 768px;
}

.paymentItem {
    margin-right: var(--MarginS);
}

.policys {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 768px;   
}

.policy {
    margin-right: var(--MarginS);
}

