.footer {
    width: 100%;
    padding: var(--MarginX) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #111;
    color: #fdfdfd;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 720px) {
    .footerContainer {
        flex-direction: column;
    }
}

.footerSubmenu {
    font-weight: 700;
}

.footerIcons {
    display: flex;
}

.footerList {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

@media (max-width: 720px) {
    .footerList {
       margin-bottom: var(--MarginS);
       max-width: 100%;

    }
}

.footerLabel {
    display: flex;
    align-items: center;
    width: 100%;
    color: #fdfdfd;
    border: 1px solid #fdfdfd;
    border-radius: 1px;
    margin-top: var(--MarginS);
    margin-bottom: var(--MarginS);
}

.footerLabel div {
    display: flex;
    width: 100%;
    padding: var(--MarginS);
}

.footerInput {
    width: 100%;
    background-color: transparent;
    margin-left: var(--MarginS);
    outline: none;
}

.footerInput::placeholder {
    color: #fdfdfd;
}

.footerSubmit {
    background-color: #fdfdfd;
    color: #111;
    height: 100%;
    padding: var(--MarginS);
    cursor: pointer;
}

.payments {
    display: flex;
}

.payments li {
    margin-right: var(--MarginS);
}

.copyrights {
    margin-top: var(--MarginX);
    font-weight: 600;
}