.gridCardsContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3rem;
}

.gridCardTitleContainer {
    display: flex;
    justify-content: space-between;
}

.gridCardTitle {
    font-weight: 600;
    font-size: 1.7rem;
}

.GridCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, auto));
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}
