.header {
    width: 100%;
    height: 7rem;   
    display: flex;
    justify-content: center;
}

.headerContainer {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainer h2 {
    font-size: 1.7rem;
    font-weight: 700;
    z-index: 110;
}


.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: 100;
}

@media (max-width: 720px) {
    .listResponsive {
        position: absolute;
        top: 0;
        bottom: 0;
        right: -100%;
        z-index: 100;
        background-color: white;
        max-width: 300px;
        width: 70%;
        flex-direction: column;
        align-items: center;
        transition: .3s;
    }

    .activelistResponsive {
        right: 0;
    }
}

.listItem {
    position: relative;
    opacity: .8;
    transition: .3s;
    margin-left: .7rem;
}

.listItem:hover {
    opacity: 1;
}

.listItem::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: black;
    transition: .3s;
}

.listItem:hover::before {
    width: 100%;
}

select {
    cursor: pointer;
}


/* Bars Menu */

.barsMenu {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    display: none;
}

.barsMenu span {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    z-index: 10;
    transform-origin: left;
    background-color: black;
    transition: .4s;
}

.activeline1__barsMenu {
    transform: rotate(45deg)
}

.activeline2__barsMenu {
   opacity: 0;
   margin-left: -30px;
}

.activeline3__barsMenu {
    transform: rotate(-45deg)
}

@media (max-width: 720px) {
    .barsMenu {
        display: flex;
        z-index: 100;
    }
}