.title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.form {
    margin-top: 2rem;
}

.labelsContainer {
    display: flex;
}

.labelContainer {
    flex: 50%;
}

.labelContainer:first-of-type {
    margin-right: .7rem;
}

.input {
    width: 100%;
    background-color: #eeeeee;
    padding: 1rem;
    color: #757575;
    outline: none;
    margin-bottom: .7rem;
}

.checkboxContainer {
    display: flex;
    align-items: center;
}

.checkboxContainer input {
    margin-right: .3rem ;
}

.checkboxContainer label {
    opacity: .3;
}

.btn {
    margin-top: 2rem;
    border-radius: .5rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
    padding: 1rem;
    color: white;
    background-color: black;
    max-width: 100%;
    width: 720px;
}
