hr {
    border: none;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, .3);
    margin-bottom: var(--MarginM);
}

.hr {
    margin-top: 0;
}

.productDetails {
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-template-rows: repeat(5, 1fr);
    gap: var(--MarginX);
}

@media (max-width: 768px) {
    .productDetails {
        grid-template-columns: minmax(268px, 1fr);
        grid-template-rows: max-content;
    }
}

/* Imagen */

.imgContainer {
    grid-row: 1 / 5;
    display: flex;
    gap: var(--MarginS);
}

@media (max-width: 768px) {
    .imgContainer {
        grid-row: 1 / 2;
        flex-direction: column;
    }
}

.pictures {
    width: 100px;
    display: flex;
    flex-direction: column;
    margin-right: var(--MarginS);
}

@media (max-width: 768px) {
    .pictures {
        margin-top: var(--MarginS);
        margin-right: 0;
        flex-direction: row;
        order: 1;
    }
}

.pictures img {
    height: 100px;
    opacity: 1;
    margin-top: var(--MarginS);
    object-fit: cover;
    cursor: pointer;
    transition: .3s;
}

.pictures img:first-of-type {
    margin-top: 0;
}

@media (max-width: 768px) {
    .pictures img {
        margin-top: 0rem;
        margin-right: var(--MarginS);
    }

    .pictures img:last-of-type {
        margin-right: 0;
    }
}

.pictures img:hover {
    opacity: .7;
}

.picture {
    position: relative;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .picture {
        order: 0;
    }   
}

img {
    width: 100%;
}


/* Details */

.productDetailsDescription {
    display: flex;
    flex-direction: column;
    gap: var(--MarginM);
    grid-row: 1 / 5;
}

@media (max-width: 768px) {
    .productDetailsDescription {
        grid-row: 2 / 3;
    }
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--MarginM);
}

.review {
    display: flex;
    margin-bottom: var(--MarginS);
}

.review p {
    margin-left: var(--MarginS);
}

.title {
    margin-bottom: var(--MarginS);
}

.prices {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.salePrice {
    color: red;
}

.originalPrice {
    text-decoration: line-through;
    margin-left: var(--MarginS);
    opacity: .6;
    z-index: -1;
}

.details {
    display: flex;
    flex-direction: column;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--MarginS);
}

.detail h3  {
    text-align: center;
    margin-bottom: var(--MarginS);
}

.detail p {
    font-weight: 500;
    letter-spacing: 1px;
    text-align: justify;
}


.list {
    display: flex;
    gap: var(--MarginS);
}


.sizeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.8rem;
    padding: .5rem;
    margin-right: var(--MarginS);
    border: 1px solid rgba(0, 0, 0, .2);
    opacity: .7;
    cursor: pointer;
    transition: .3s;
}

.sizeBtn:hover {
    opacity: 1;
    border-color: rgba(0, 0, 0, .5);
}

.colorItem {
    border: 1px solid rgba(0, 0, 0, .2);
    padding: .3rem;
    width: 2.7rem;
    height: 2.7rem;
}

.colorItem div {
    width: 100%;
    height: 100%;
    background-color: black;
    cursor: pointer;
}

.quantitySelect {
    display: flex;
    align-items: center;
    gap: var(--MarginS);
    margin-bottom: var(--MarginM);
}

.quantitySelect p {
    margin-right: var(--MarginS);
}

.quantityBtn {
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-right: var(--MarginS);
    min-width: 2.5rem;
}

.quantityBtn_ {
    background-color: rgba(0, 0, 0, .1);
    border: none;
}

.btn {
    letter-spacing: 1.5px;
    font-weight: 600;
    background-color: black;
    height: 2.7rem;
    color: white;
    cursor: pointer;
    margin-bottom: var(--MarginS);
    transition: .3s;
}

.btnBuy {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btnBuy:hover {
    background-color: black;
    color: white;
}

/* Dropdown Descriptions */

.dropdownDescription {
    max-width: 100%;
    overflow: hidden;
    font-weight: 500;
}

.dropdownDescription input {
    display: none;
}

.dropdownDescription label {
    position: relative;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
    cursor: pointer;
}

.dropdownText {
    max-height: 0px;
    overflow: hidden;
    margin: var(--MarginNormal) 0;
    position: relative;
    top: -100%;
    opacity: .5;
    transition: .3s;
}

.dropdownDescription input:checked ~ .dropdownText {
    max-height: 800px;
    opacity: 1;
    top: 0;
}

.dropdownDescription input:checked ~ label .arrow {
    transform: rotate(0);
}

.arrow {
    transform: rotate(90deg);
    transition: .3s;
}

.dropdownTextReturns {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dropdownTextSubtitle {
    font-weight: 600;
}

.dropdownParagrath {
    margin-bottom: var(--MarginS);
}

.dropdownTextContacts {
    display: flex;
    flex-direction: column;
}

.dropdownTextContacts form {
    display: flex;
    flex-direction: column;
}

.dropdownTextContacts p {
    margin-bottom: 1.5rem;
}

.labelsContainer {
    display: flex;
    margin-bottom: 1.7rem;
    gap: .7rem;
}

.labelContainer {
    display: flex;
    flex-direction: column;
    gap: var(--MarginS);
    width: 100%;
}

.labelContainer:first-of-type {
    margin-right: 1.5rem;
}

.labelContainer .input {
    display: block;
    outline: none;
    width: 100%;
    background-color: #eeeeee;
    padding: var(--MarginS);
    color: #757575;
    outline: none;
    margin-bottom: var(--MarginS);
}

tr, td {
    padding: var(--MarginS);
    width: 25%;
    border: 1px solid rgba(0, 0, 0, .15);
}