@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');


/* Propertys */

:root {
  /* Colors */
  --Black: #000;
  --White: #fbfbfb;
  --PrimaryColor: ;
  --SecondaryColor: ;
  --TertaryColor: ;

  /* Margins */
  --MarginXXL: 8rem;
  --MarginXL: 6rem;
  --MarginX: 4rem;
  --MarginM: 2rem;
  --MarginNormal: 1.2rem;
  --MarginS: .7rem;

  /* Seconds */
  --Seconds: .3s;

}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box
}

html {
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  background-color: var(--White);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.subtitle {
  margin-bottom: var(--MarginS);
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1.15px;
}

.subtitlePage {
  font-size: 1.2rem;
  margin-top: var(--MarginM);
}

.paragrahtTitle {
  font-weight: 600;
  margin-bottom: var(--MarginS);
  text-transform: uppercase;
}

.paragrath {
  margin-bottom: var(--MarginNormal);
  letter-spacing: 1.15px;
  text-align: justify;
}

.containerPage {
  margin-top: var(--MarginM);
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 90%;
}

.imgActive {
  border: 3px solid black;
}

.zIndex {
  z-index: -1;
}

hr {
  margin-top: var(--MarginM);
  width: 100%;
  max-width: 768px;
  background-color: rgba(0, 0, 0, .1);
}

/* Forms */

.form {
  margin-top: var(--MarginM);
  width: 100%;
  max-width: 768px;
}

.btn {
  margin-top: var(--MarginM);
  border-radius: .5rem;
  letter-spacing: 1px;
  font-size: 1.2rem;
  padding: .6rem 1rem;
  color: white;
  background-color: black;
  max-width: 420px;
  cursor: pointer;
  min-width: 100%;
}

.input {
  width: 100%;
  background-color: #eeeeee;
  padding: 1rem;
  color: #757575;
  outline: none;
  margin-bottom: var(--MarginS);
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkboxContainer input {
  margin-right: .3rem ;
}

.checkboxContainer label {
  opacity: .3;
}